a {
    display: inline-block;
    transition: .3s;
}

a:link {
    font-weight:bold;
    color: #636363;
    text-decoration: none;
}

a:visited {
    font-weight:bold;
    color: #636363;
    text-decoration: none;
}

a:hover {
    color: #919191;
    text-decoration: none;
}

a:active {
    color: #fff;
    text-decoration: none;
}

.footLink {
    transition: .3s;
    -webkit-transform: none;
    transform: none;
}

.footLink:link {
    color: #696969;
    text-decoration: none;
}

.footLink:visited {
    color: #696969;
    text-decoration: none;
}

.footLink:hover {
    color: #606060;
    text-decoration: none;
}

.footLink:active {
    color: #fff;
    text-decoration: none;
}

.dorm {
    transition: none;
    -webkit-transform: none;
    transform: none;
}

.dorm:link {
    color: #696969;
    text-decoration: none;
}

.dorm:visited {
    color: #696969;
    text-decoration: none;
}

.dorm:hover {
    color: #606060;
    text-decoration: none;
    -webkit-transform: none;
    transform: none;
}

.dorm:active {
    color: #fff;
    text-decoration: none;
}

.row-eq-height {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    flex-wrap: wrap;
}
