a {
    display: inline-block;
    transition: .3s;
    -webkit-transform: scale(1);
    transform: scale(1);
}

a:link {
    color: #696969;
    text-decoration: none;
}

a:visited {
    color: #808080;
    text-decoration: none;
}

a:hover {
    color: #606060;
    text-decoration: none;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

a:active {
    color: #fff;
    text-decoration: none;
}

.footLink {
    transition: .3s;
    -webkit-transform: none;
    transform: none;
}

.footLink:link {
    color: #696969;
    text-decoration: none;
}

.footLink:visited {
    color: #696969;
    text-decoration: none;
}

.footLink:hover {
    color: #606060;
    text-decoration: none;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

.footLink:active {
    color: #fff;
    text-decoration: none;
}

.dorm {
    transition: none;
    -webkit-transform: none;
    transform: none;
}

.dorm:link {
    color: #696969;
    text-decoration: none;
}

.dorm:visited {
    color: #696969;
    text-decoration: none;
}

.dorm:hover {
    color: #606060;
    text-decoration: none;
    -webkit-transform: none;
    transform: none;
}

.dorm:active {
    color: #fff;
    text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    a:hover {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    .footLink:hover {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}
