@media (min-width: 480px) {
    .navbar {
        border-radius: 6px;
    }
}

@media (min-width: 480px) {
    .navbar-toggle {
        display: none;
    }
}

@media (min-width: 480px) {
    .navbar-header {
        float: left;
    }
}

@media (max-width: 479px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #090909;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #090909;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #eee;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #eee;
        background-color: #555;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #777;
        background-color: #fff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

@media (min-width: 480px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 479px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 24px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
}

@media (min-width: 480px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 28px;
        padding-bottom: 28px;
    }
}

@media (max-width: 479px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #333;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #555;
        background-color: #eee;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #2196f3;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #222;
        background-color: transparent;
    }
}

@media (max-width: 479px) {
    .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
        border-color: #090909;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
        background-color: #090909;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #eee;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #eee;
        background-color: #555;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #777;
        background-color: #fff;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #444;
        background-color: transparent;
    }
}

@media (min-width: 480px) {
    .navbar-nav > li > a {
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: 21px;
        margin-bottom: 21px;
        border-radius: 4px;
    }
    .navbar-nav > li > .dropdown-menu {
        margin-top: -21px;
    }
    .navbar-nav > li:not(:last-child) {
        margin-right: 5px;
    }
}

.navbar {
    min-height: 0px !important;
    font-size: 1.1em;
    border-bottom: 1px solid #dfe6d9;
}

.navbar .dropdown-menu {
    font-size: 0.9em;
    margin: 0 !important;
    padding: 0 !important;
}

.navbar .dropdown-menu li {
    margin: 0 !important;
}

.navbar .dropdown-menu li a {
    padding: 10px 15px;
}

.navbar .dropdown-menu li a:hover {
    background-color: #ffcddd;
    padding: 10px 15px;
}

.nav>li>a {
    display: inline-block;
    margin: 0 !important;
    padding: 15px !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.navbar-brand {
    height: auto;
    padding: 10px 15px;
}

.navbar-toggle {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-icon {
    border: 2px #fff solid;
    width: auto;
    max-height: 22px;
    border: 1px solid #ededed;
}